@attribute [Authorize]

<MudGrid>
    <MudItem xs="12" sm="4" md="3">
        <MudCard Elevation="25">
            @if (_avatarProcessing)
            {
                <MudProgressLinear Color="Color.Secondary" Indeterminate="true" />
            }
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText Typo="Typo.body1">Avatar</MudText>
                </CardHeaderContent>
                <CardHeaderActions>
                    <MudTooltip Text="Generate" Placement="Placement.Bottom">
                        <MudIconButton Icon="@Icons.Material.Filled.Shuffle" Color="Color.Default"
                            OnClick="GenerateAvatar" Disabled="@(_avatarProcessing)" />
                    </MudTooltip>
                </CardHeaderActions>
            </MudCardHeader>
            <MudCardContent>
                <div class="d-flex justify-center mb-4">
                    @if (!string.IsNullOrEmpty(_cardAvatar))
                    {
                        <MudAvatar Image="@_cardAvatar" Style="height:250px; width:250px;"></MudAvatar>
                    }
                    else
                    {
                        <MudAvatar Color="Color.Secondary" Style="height:250px; width:250px;">@_firstLetterOfName
                        </MudAvatar>
                    }
                </div>
                <MudText Typo="Typo.h6" Align="Align.Center">@_model.FirstName @_model.LastName</MudText>
                <MudText Align="Align.Center">@_model.Email</MudText>
            </MudCardContent>
            <MudCardActions Class="d-flex justify-center">
                <InputFile id="fileInput" OnChange="SelectAvatar" accept=".jpg, .jpeg, .png" hidden />
                <MudTooltip Text="Select" Placement="Placement.Bottom">
                    <MudIconButton HtmlTag="label" Color="Color.Primary" Icon="@Icons.Filled.Image" for="fileInput"
                        Disabled="@(_avatarProcessing)" />
                </MudTooltip>
                @if (!string.IsNullOrEmpty(_tmpAvatar))
                {
                    <MudTooltip Text="Upload" Placement="Placement.Bottom">
                        <MudIconButton Color="Color.Success" Icon="@Icons.Filled.CloudUpload" OnClick="UploadAvatar"
                        Disabled="@(_avatarProcessing)" />
                    </MudTooltip>
                }
                @if (string.IsNullOrEmpty(_tmpAvatar) && !string.IsNullOrEmpty(_userAvatar))
                {
                    <MudTooltip Text="Delete" Placement="Placement.Bottom">
                        <MudIconButton Color="Color.Error" Icon="@Icons.Filled.Delete" OnClick="DeleteAvatar"
                        Disabled="@(_avatarProcessing)" />
                    </MudTooltip>
                }
                @if (!string.IsNullOrEmpty(_tmpAvatar))
                {
                    <MudTooltip Text="Cancel" Placement="Placement.Bottom">
                        <MudIconButton Color="Color.Warning" Icon="@Icons.Filled.Cancel" OnClick="ClearAvatar"
                        Disabled="@(_avatarProcessing)" />
                    </MudTooltip>
                }
            </MudCardActions>
        </MudCard>
    </MudItem>
    <MudItem xs="12" sm="8" md="9">
        <EditForm Model="@_model" OnValidSubmit="SubmitAsync">
            <FluentValidationValidator @ref="_fluentValidationValidator" />
            <MudCard Elevation="25">
                @if (_processing)
                {
                    <MudProgressLinear Color="Color.Secondary" Indeterminate="true" />
                }
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText>Profile Details</MudText>
                    </CardHeaderContent>
                </MudCardHeader>
                <MudCardContent>
                    <MudGrid>
                        <MudItem xs="12" md="6">
                            <MudTextField @bind-Value="@_model.FirstName" For="@(() => _model.FirstName)"
                                Label="First Name" Variant="Variant.Outlined" />
                        </MudItem>
                        <MudItem xs="12" md="6">
                            <MudTextField @bind-Value="@_model.LastName" For="@(() => _model.LastName)"
                                Label="Last Name" Variant="Variant.Outlined" />
                        </MudItem>
                        <MudItem xs="12" md="6">
                            <MudTextField @bind-Value="@_model.Username" For="@(() => _model.Username)" Label="Username"
                                Variant="Variant.Outlined" />
                        </MudItem>
                        <MudItem xs="12" md="6">
                            <MudTextField @bind-Value="@_model.Email" For="@(() => _model.Email)" Label="Email"
                                Variant="Variant.Outlined" InputType="InputType.Email" ReadOnly="true"
                                Adornment="Adornment.End" AdornmentColor="@_emailVerifyColor"
                                AdornmentIcon="@_emailVerifyIcon" OnAdornmentClick="@(() => SendEmailVerification())" />
                        </MudItem>
                    </MudGrid>
                </MudCardContent>
                <MudCardActions Class="pb-4 pl-4">
                    <MudButton Variant="Variant.Filled" Disabled="@(!Validated || _processing)" Color="Color.Primary"
                        Class="ml-auto" ButtonType="ButtonType.Submit">
                        Save changes</MudButton>
                </MudCardActions>
            </MudCard>
        </EditForm>
    </MudItem>
</MudGrid>