<MudGrid>
    <MudItem xs="12" sm="4" md="3">
        <MudCard Elevation="25">
            <MudCardContent>
                <div class="d-flex justify-center mb-4">
                    @if (!string.IsNullOrEmpty(@_avatar))
                    {
                        <MudAvatar Image="@_avatar" Style="height:250px; width:250px;"></MudAvatar>
                    }
                    else
                    {
                        <MudAvatar Color="Color.Secondary" Style="height:250px; width:250px;">@_firstLetterOfName</MudAvatar>
                    }
                </div>
                <MudText Typo="Typo.h6" Align="Align.Center">@_model.FirstName @_model.LastName</MudText>
                <MudText Align="Align.Center">@_model.Email</MudText>
            </MudCardContent>
            <MudCardActions Class="d-flex justify-center">
                <InputFile id="fileInput" hidden />
                <MudButton HtmlTag="label"
                           Variant="Variant.Text"
                           Color="Color.Primary"
                           Size="Size.Small"
                           StartIcon="@Icons.Filled.CloudUpload"
                           for="fileInput">
                    Upload Image
                </MudButton>
                @if (!string.IsNullOrEmpty(@_avatar))
                {
                    <MudButton Variant="Variant.Text"
                               Color="Color.Error"
                               StartIcon="@Icons.Filled.Delete"
                               Size="Size.Small">
                        Delete Image
                    </MudButton>
                }
            </MudCardActions>
        </MudCard>
    </MudItem>
    <MudItem xs="12" sm="8" md="9">
        <EditForm Model="@_model" OnValidSubmit="SubmitAsync">
            <FluentValidationValidator @ref="_fluentValidationValidator" />
            <MudCard Elevation="25">
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText>Profile Details</MudText>
                    </CardHeaderContent>
                </MudCardHeader>
                <MudCardContent>
                    <MudGrid>
                        <MudItem xs="12" md="6">
                            <MudTextField @bind-Value="@_model.FirstName" For="@(() => _model.FirstName)" Label="First Name" Variant="Variant.Outlined" />
                        </MudItem>
                        <MudItem xs="12" md="6">
                            <MudTextField @bind-Value="@_model.LastName" For="@(() => _model.LastName)" Label="Last Name" Variant="Variant.Outlined" />
                        </MudItem>
                        <MudItem xs="12" md="6">
                            <MudTextField @bind-Value="@_model.Username" For="@(() => _model.Username)" Label="Username" Variant="Variant.Outlined" Adornment="Adornment.End" AdornmentColor="@_checkUsernameColor" AdornmentIcon="@_checkUsernameIcon" />
                        </MudItem>
                        <MudItem xs="12" md="6">
                            <MudTextField @bind-Value="@_model.Email" For="@(() => _model.Email)" Label="Email" Variant="Variant.Outlined" InputType="InputType.Email" ReadOnly="true" Adornment="Adornment.End" AdornmentColor="@_emailVerifyColor" AdornmentIcon="@_emailVerifyIcon" OnAdornmentClick="@(() => SendEmailVerification())" />
                        </MudItem>
                    </MudGrid>
                </MudCardContent>
                <MudCardActions Class="pb-4 pl-4">
                    <MudButton Variant="Variant.Filled" Disabled="@(!Validated)" Color="Color.Primary" Class="ml-auto" ButtonType="ButtonType.Submit">Save Changes</MudButton>
                </MudCardActions>
            </MudCard>
        </EditForm>
    </MudItem>
</MudGrid>