@page "/home"
@page "/dashboard"
@page "/"
@layout MainLayout
@attribute [Authorize]

<OnTestTitle Title="Available Exams" Description="Search available exams" />

<MudTable ServerData="@(new Func<TableState, Task<TableData<Transport.Shared.Models.Exam>>>(LoadDataAsync))"
    Hover="true" Elevation="25" Dense="true" Bordered="true" Striped="true" @ref="_table">
    <ToolBarContent>
        <div class="justify-center mud-text-align-center">
            <MudButton DisableElevation Variant="Variant.Filled" OnClick="ReloadData"
                StartIcon="@Icons.Material.Filled.Refresh" IconColor="Color.Surface" Color="Color.Secondary">
                Reload</MudButton>
        </div>
        <MudSpacer />
        <MudTextField @bind-Value="_query" Immediate="true" FullWidth=false
            Placeholder="Search For Exams" Adornment="Adornment.End" AdornmentColor="Color.Secondary"
            AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0 mb-3" OnAdornmentClick="ReloadData"></MudTextField>
    </ToolBarContent>

    <HeaderContent>
        <MudTh>
            <MudTableSortLabel SortLabel="id" T="Transport.Shared.Models.Exam">Id</MudTableSortLabel>
        </MudTh>
        <MudTh>
            <MudTableSortLabel SortLabel="title" T="Transport.Shared.Models.Exam">Title</MudTableSortLabel>
        </MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Id">@context.Id</MudTd>
        <MudTd DataLabel="Title">@context.Title</MudTd>
        <MudTd DataLabel="Action">
            <MudTooltip Text="Start Exam" Placement="Placement.Bottom">
                <MudIconButton Color="Color.Success" Icon="@Icons.Filled.PlayArrow"
                    OnClick="(() => InvokeStartExamModal(context))" />
            </MudTooltip>
        </MudTd>
    </RowTemplate>
    <NoRecordsContent>
        <MudText>No matching records found</MudText>
    </NoRecordsContent>
    <LoadingContent>
        <MudText>Loading...</MudText>
    </LoadingContent>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>