@page "/signin"
@layout MainLayout
@attribute [AllowAnonymous]

<MudPaper Elevation="25" Class="pa-8" Style="width: 500px; padding-top: 0px !important;">
    @if (_processing)
    {
        <MudProgressLinear Color="Color.Secondary" Indeterminate="true" Style="margin-left: -30px; margin-right: -30px;" />
    }
    <EditForm Model="@_model" OnValidSubmit="SubmitAsync" style="padding-top: 30px;">
        <FluentValidationValidator @ref="_fluentValidationValidator" />
        <MudGrid>
            <MudItem xs="12">
                <div class="d-flex justify-center">
                    <MudIcon Icon="@Icons.Material.Filled.Login" Color="Color.Primary"
                        Style="width:54px; height:54px;" />
                </div>
            </MudItem>
            <DataAnnotationsValidator />
            <MudItem xs="12">
                <div class="d-flex justify-center">
                    <MudText Typo="Typo.h4">Sign In</MudText>
                </div>
            </MudItem>
            <MudItem xs="12">
                <div class="d-flex justify-center">
                    <MudText>Signin with your Credentials.</MudText>
                </div>
            </MudItem>
            <MudItem xs="12">
                <div class="d-flex justify-center">
                    <MudText>Don't have an account? <MudLink Href="/signup">Sign Up here</MudLink>
                    </MudText>
                </div>
            </MudItem>
            <MudItem xs="12">
                <MudTextField T="string" Label="Username or Email" Variant="Variant.Outlined" @bind-Value="_model.Identifier"
                    For="@(() => _model.Identifier)" />
            </MudItem>
            <MudItem xs="12">
                <MudTextField Label="Password" Variant="Variant.Outlined" @bind-Value="_model.Password"
                    For="@(() => _model.Password)" InputType="@_passwordInput" Adornment="Adornment.End"
                    AdornmentIcon="@_passwordInputIcon" OnAdornmentClick="TogglePasswordVisibility" />
            </MudItem>
            <MudItem xs="12" Class="d-flex justify-space-between align-center">
                <MudCheckBox T="bool" @bind-Checked="_model.Remember" Label="Remember me?" Color="Color.Primary"
                    Class="ml-n1"></MudCheckBox>
                <MudLink Href="/forgot-password">Forgot password?</MudLink>
            </MudItem>
            <MudItem xs="12" Class="d-flex justify-center">
                <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled"
                    Disabled="@(!Validated || _processing)" Color="Color.Primary" Size="Size.Large"
                    Style="width: 100%;">Sign In</MudButton>
            </MudItem>

            <MudItem xs="12" Class="d-flex justify-space-between align-center">
                <MudTooltip Text="Google">
                    <MudIconButton Icon="@Icons.Custom.Brands.Google" Size="Size.Large" Color="Color.Inherit"
                        Link="@_options.Value.OAuthGoogleUrl" Target="_blank" />
                </MudTooltip>

                <MudTooltip Text="GitHub">
                    <MudIconButton Icon="@Icons.Custom.Brands.GitHub" Size="Size.Large" Color="Color.Inherit"
                        Link="@_options.Value.OAuthGitHubUrl" Target="_blank" />
                </MudTooltip>

                <MudTooltip Text="LinkedIn">
                    <MudIconButton Icon="@Icons.Custom.Brands.LinkedIn" Size="Size.Large" Color="Color.Inherit"
                        Link="@_options.Value.OAuthLinkedInUrl" Target="_blank" />
                </MudTooltip>
            </MudItem>

        </MudGrid>
    </EditForm>
</MudPaper>