@page "/signup"
@layout MainLayout
@attribute [AllowAnonymous]

<MudPaper Elevation="25" Class="pa-8" Style="width: 500px; padding-top: 0px !important;">
    @if (_processing)
    {
        <MudProgressLinear Color="Color.Secondary" Indeterminate="true" Style="margin-left: -30px; margin-right: -30px;" />
    }
    <EditForm Model="@_model" OnValidSubmit="SubmitAsync" style="padding-top: 30px;">
        <FluentValidationValidator @ref="_fluentValidationValidator" />
        <MudGrid>
            <MudItem xs="12">
                <div class="d-flex justify-center">
                    <MudIcon Icon="@Icons.Material.Filled.HowToReg" Color="Color.Primary"
                        Style="width:54px; height:54px;" />
                </div>
            </MudItem>
            <MudItem xs="12">
                <div class="d-flex justify-center">
                    <MudText Typo="Typo.h4">Signup</MudText>
                </div>
            </MudItem>
            <MudItem xs="12">
                <div class="d-flex justify-center">
                    <MudText>Already have an account? <MudLink Href="/signin">Sign In</MudLink>
                    </MudText>
                </div>
            </MudItem>
            <MudItem xs="12" sm="6" md="6">
                <MudTextField For="@(() => _model.FirstName)" @bind-Value="_model.FirstName" Label="First Name" />
            </MudItem>
            <MudItem xs="12" sm="6" md="6">
                <MudTextField For="@(() => _model.LastName)" @bind-Value="_model.LastName" Label="Last Name" />
            </MudItem>
            <MudItem xs="12" sm="12" md="12">
                <MudTextField T="string" For="@(() => _model.Email)" @bind-Value="_model.Email" Label="E-mail" />
            </MudItem>
            <MudItem xs="12" sm="6" md="6">
                <MudTextField For="@(() => _model.Password)" InputType="@_passwordInput" Adornment="Adornment.End"
                    AdornmentIcon="@_passwordInputIcon" OnAdornmentClick="TogglePasswordVisibility"
                    @bind-Value="_model.Password" Label="Password" />
            </MudItem>
            <MudItem xs="12" sm="6" md="6">
                <MudTextField For="@(() => _model.ConfirmPassword)" InputType="InputType.Password"
                    @bind-Value="_model.ConfirmPassword" Label="Confirm Password" />
            </MudItem>
            <MudItem xs="12" Class="d-flex justify-center">
                <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Disabled="@(!Validated || _processing)"
                    Color="Color.Primary" Size="Size.Large" Style="width: 100%;">Sign Up</MudButton>
            </MudItem>
        </MudGrid>
    </EditForm>
</MudPaper>