@page "/signin"
@layout MainLayout
@attribute [AllowAnonymous]

<EditForm Model="@_model" OnValidSubmit="SubmitAsync">
    <FluentValidationValidator @ref="_fluentValidationValidator" />
    <MudGrid>
        <MudItem xs="12">
            <div class="d-flex justify-center">
                <MudIcon Icon="@Icons.Material.Filled.Login" Color="Color.Primary" Style="width:54px; height:54px;" />
            </div>
        </MudItem>
        <DataAnnotationsValidator />
        <MudItem xs="12">
            <div class="d-flex justify-center">
                <MudText Typo="Typo.h4">Sign In</MudText>
            </div>
        </MudItem>
        <MudItem xs="12">
            <div class="d-flex justify-center">
                <MudText>Signin with your Credentials.</MudText>
            </div>
        </MudItem>
        <MudItem xs="12">
            <div class="d-flex justify-center">
                <MudText>Don't have an account? <MudLink Href="/signup">Signup here</MudLink>
                </MudText>
            </div>
        </MudItem>
        <MudItem xs="12">
            <MudTextField T="string" Label="E-mail" Variant="Variant.Outlined" @bind-Value="_model.Email"
                For="@(() => _model.Email)" />
        </MudItem>
        <MudItem xs="12">
            <MudTextField Label="Password" Variant="Variant.Outlined" @bind-Value="_model.Password"
                For="@(() => _model.Password)" InputType="@_passwordInput" Adornment="Adornment.End"
                AdornmentIcon="@_passwordInputIcon" OnAdornmentClick="TogglePasswordVisibility" />
        </MudItem>
        <MudItem xs="12" Class="d-flex justify-space-between align-center">
            <MudCheckBox T="bool" Label="Remember me?" Color="Color.Primary" Class="ml-n1"></MudCheckBox>
            <MudLink Href="/forgot-password">Forgot password?</MudLink>
        </MudItem>
        <MudItem xs="12" Class="d-flex justify-center">
            <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Disabled="@(!Validated)"
                Color="Color.Primary" Size="Size.Large" Style="width: 100%;">Sign In</MudButton>
        </MudItem>

        <MudItem xs="12" Class="d-flex justify-space-between align-center">
            <MudTooltip Text="Google">
                <MudIconButton Icon="@Icons.Custom.Brands.Google" Size="Size.Large" Color="Color.Inherit" Link="@_options.Value.OAuthGoogleUrl" Target="_blank" />
            </MudTooltip>

            <MudTooltip Text="GitHub">
                <MudIconButton Icon="@Icons.Custom.Brands.GitHub" Size="Size.Large" Color="Color.Inherit" Link="@_options.Value.OAuthGitHubUrl" Target="_blank" />
            </MudTooltip>

            <MudTooltip Text="LinkedIn">
                <MudIconButton Icon="@Icons.Custom.Brands.LinkedIn" Size="Size.Large" Color="Color.Inherit" Link="@_options.Value.OAuthLinkedInUrl" Target="_blank" />
            </MudTooltip>
        </MudItem>

    </MudGrid>
</EditForm>